<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="{{ site.description }}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <title>{{ site.title }}</title>
  <link rel="stylesheet" href="css/main.css?3">
{% include head.html %}
</head>
<body>
  <div class="header">
    <div class="header-container">
      <h1>The self-service developer</h1>
    </div>
    <div class="center"><h2>* In pursuit of awesome developer experiences *</h2></div>
  </div>
  <div class="container videos">
    <div class="left-video">
      <h3>01 - Sneha Inguva</h3>
      <p class="intro">Sneha talks about the motivations why Digital Ocean rebuilt their platform on Kubernetes and how they equipped their developers with a stripped down version of kubectl, called docc.<p>
      <iframe width="560" height="315" src="https://www.youtube.com/embed/uFkqZBAhJ58" frameborder="0" allowfullscreen></iframe>
    </div>
    <div class="right-video">
        <h3>02 - Jonas B.</h3>
        <p class="intro">Jonas shows how he made their team of ML experts life easier. Deploy to Kubernetes from your Python Notebook! Rad<p>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/uFkqZBAhJ58" frameborder="0" allowfullscreen></iframe>
    </div>
  </div>
  <div class="container videos">
      <div class="left-video">
        <h3>03 - Sneha Inguva</h3>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/uFkqZBAhJ58" frameborder="0" allowfullscreen></iframe>
      </div>
      <div class="right-video">
        <h3>04 - Someother Person</h3>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/uFkqZBAhJ58" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>
{% include scripts.html %}
</body>
</html>
