<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="{{ site.description }}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://use.fontawesome.com/309a9300a3.js"></script>
  
  <meta content="{{ page.title }}" property="og:title">
  <meta content="website" property="og:type">
  <meta content="{{ site.url }}/ssd.png" property="og:image">
  <meta content="{{ site.url }}{{ page.link }}" property="og:url">
  <meta content="{{ site.tag_text }}" property="og:site_name">
  <meta content="{{ site.description }}" property="og:description">

  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@selfservicedev">
  <meta name="twitter:creator" content="@selfservicedev">
  <meta name="twitter:title" content="{{ site.tag_text }}">
  <meta name="twitter:description" content="{{ site.description }}">
  <meta name="twitter:image" content="{{ site.url }}/ssd.png">

  <title>{{ site.title }}</title>
  <link rel="stylesheet" href="css/main.css?11">
{% include head.html %}
</head>
<body>
  <div class="header">
    <div class="header-container">
      <h1>The self-service developer</h1>
    </div>
    <div class="center"><h2>Pursuing awesome developer experiences<span style="margin-left: 1rem"><a href="https://twitter.com/selfservicedev" target="blank"><i class="fa fa-twitter" aria-hidden="true"></i></a><script type="text/javascript" language="javascript">
      { coded = "EspwEg@EspwEg.NEgDI"
        key = "UeMjB5IuRfCqAWiLEVaoY8ZHh0DPcmvb6OXySsgTtKz2x3nNJdQGrFk1p47l9w"
        shift=coded.length
        link=""
        for (i=0; i<coded.length; i++) {
          if (key.indexOf(coded.charAt(i))==-1) {
            ltr = coded.charAt(i)
            link += (ltr)
          }
          else {     
            ltr = (key.indexOf(coded.charAt(i))-shift+key.length) % key.length
            link += (key.charAt(ltr))
          }
        }
      document.write("<a href='mailto:"+link+"' style='margin-left: 0.5rem'><i class='fa fa-envelope' aria-hidden='true'></i></a>")
      }
      </script></span></h2></div>
  </div>
  <div class="equtation">
    <div>
      <ul>
        <li><span class="black">Configure the runtime environment (Dockerfile)</span></li>
        <li class="sign">+</li>
        <li><span class="black">Provision the computing resources (Container orhestration)</span></li>
        <li class="sign">+</li>
        <li><span class="black">Define the CI  pipeline (Pipeline as Code)</span></li>
        <li class="sign">+</li>
        <li><span class="black">In simple Yaml files</span></li>
        <li class="sign">+</li>
        <li><span class="black">All in version control</span></li> 
      </ul>

      <ul>
        <li class="sign">=</li>
      </ul>

      <ul>
        <li><span class="red">You are in control</span></li>
      </ul>
      <p>You know.. for speed.<p>
    </div>
  </div>
  <div class="container videos">
    <div class="left-video">
      <h3>01 - Sneha Inguva</h3>
      <p>Sneha talks about the motivations why Digital Ocean rebuilt their platform on Kubernetes and how they equipped their developers with a stripped down version of kubectl, called docc.<p>
      <iframe width="560" height="315" src="https://www.youtube.com/embed/40I2raXfh_Q" frameborder="0" allowfullscreen></iframe>
      <div style="text-align: left">
        <p>Notes:</p>
        <ul>
          <li><a href="https://thenewstack.io/github-goes-kubernetes-tells/" target="blank">The "Github article"</a></li>
          <li><a href="https://www.youtube.com/watch?v=5P_A7KN7F6I&list=PLoz-W_CUquUlnvoEBbqChb7A0ZEZsWSXt&index=25" target="blank">Sneha's talk on Promcon2017</a></li>
          <li><a href="https://www.youtube.com/watch?v=K5WRJvMx4us" target="blank">More on Digital Ocean's platform</a></li>
        </ul>
      </div>
    </div>
  </div>
{% include scripts.html %}
</body>
</html>
